root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
max_line_length = 120
tab_width = 2

[*.java]
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_use_fq_class_names = false
ij_java_use_fq_class_names_in_javadoc = false
ij_java_use_single_class_imports = true
